*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #66bb77;
}
.input-group-text{
    background-color: #05A6FF;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.btn{
    background-color: #05A6FF;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.form-control, .form-select{
    box-shadow: none !important;
}